Web References/locatservice/WebServicetesting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertnewuser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertnewuserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertnewuserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatenewuser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatenewuserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updatenewuserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="allusers">
        <s:complexType />
      </s:element>
      <s:element name="allusersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="allusersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insertnewuserSoapIn">
    <wsdl:part name="parameters" element="tns:insertnewuser" />
  </wsdl:message>
  <wsdl:message name="insertnewuserSoapOut">
    <wsdl:part name="parameters" element="tns:insertnewuserResponse" />
  </wsdl:message>
  <wsdl:message name="updatenewuserSoapIn">
    <wsdl:part name="parameters" element="tns:updatenewuser" />
  </wsdl:message>
  <wsdl:message name="updatenewuserSoapOut">
    <wsdl:part name="parameters" element="tns:updatenewuserResponse" />
  </wsdl:message>
  <wsdl:message name="allusersSoapIn">
    <wsdl:part name="parameters" element="tns:allusers" />
  </wsdl:message>
  <wsdl:message name="allusersSoapOut">
    <wsdl:part name="parameters" element="tns:allusersResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicetestingSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertnewuser">
      <wsdl:input message="tns:insertnewuserSoapIn" />
      <wsdl:output message="tns:insertnewuserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updatenewuser">
      <wsdl:input message="tns:updatenewuserSoapIn" />
      <wsdl:output message="tns:updatenewuserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="allusers">
      <wsdl:input message="tns:allusersSoapIn" />
      <wsdl:output message="tns:allusersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicetestingSoap" type="tns:WebServicetestingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertnewuser">
      <soap:operation soapAction="http://tempuri.org/insertnewuser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatenewuser">
      <soap:operation soapAction="http://tempuri.org/updatenewuser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allusers">
      <soap:operation soapAction="http://tempuri.org/allusers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicetestingSoap12" type="tns:WebServicetestingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertnewuser">
      <soap12:operation soapAction="http://tempuri.org/insertnewuser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatenewuser">
      <soap12:operation soapAction="http://tempuri.org/updatenewuser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allusers">
      <soap12:operation soapAction="http://tempuri.org/allusers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicetesting">
    <wsdl:port name="WebServicetestingSoap" binding="tns:WebServicetestingSoap">
      <soap:address location="http://192.168.0.46/webtesting/WebServicetesting.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicetestingSoap12" binding="tns:WebServicetestingSoap12">
      <soap12:address location="http://192.168.0.46/webtesting/WebServicetesting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>